.have-documents__chart {
	margin-top: 50px;

	height: 250px;
}

.chart__title {
	text-align: center;
	font-size: 21px;
	font-family: "Lato";
}

.ct-label {
	position: relative;
	top: -2px;

	font-size: 15px;
	font-family: "Lato";
}