.have-documents__chart {
	margin-top: 50px;

	height: 250px;
}

.chart__title {
	text-align: center;
	font-size: 21px;
	font-family: "Lato";
}

.ct-label {
	position: relative;
	top: -2px;

	font-size: 15px;
	font-family: "Lato";
}

.have-documents__chart {
	width: 1200px;
	height: 865px;
	//background: url('./povar.jpg') no-repeat;
}

.sailor-img {
	background: url('./sailor.jpg') no-repeat;
}

.cook-img {
	background: url('./povar.jpg') no-repeat;
}

.motorist-img {
	background: url('./motorist.jpg') no-repeat;
}

.electrician-img {
	background: url('./electrician.jpg') no-repeat;
}

.none-img {
	background: red;
}