.user-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.user-list__table-td-button {
  text-align: center;
  vertical-align: middle !important;
}

.user-list__delete-tab {
	min-height: 50px;
}

.user-list__delete-user {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}

.user-list__user-profiles {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px 0;
}

.user-list__user-profiles__profile {
	margin: 10px 0;
}

.user-list__block {
	margin-top: 15px;
	text-align: center;
}