.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profession-button {
	margin: 25px;

	display: flex;
	justify-content: center;
	width: 40%;
	height: 150px;

	text-transform: uppercase;
	text-align: center;
	line-height: 150px;
	font-family: 'Lato';
	font-size: 21px;

	box-shadow: 0 0 10px rgba(0,0,0,0.5);

	cursor: pointer;
}

.color-1 {
	background: #DB3340;
}

.color-2 {
	background: #E8B81A;
}

.color-3 {
	background: #20DA9B;
}

.color-4 {
	background: #28ABE3;
}